<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/viloa/IdeaProjects/TestNG/src/test/java/class02/SoftAssertion.java"><classes><class name="class02.SoftAssertion"><methods><include name="verifyTheWelcomeMessage"/></methods></class></classes></test></suite>